<!DOCTYPE html>
<html>
<head>

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/static/css/vendor/fonts/icomoon/icomoon.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/vendor/fonts/font-awesome/font-awesome.css">

<!-- Required Plugin CSS
<link rel="stylesheet" type="text/css" href="/static/vendor/plugins/morris/morris.css">
<link rel="stylesheet" type="text/css" href="/static/vendor/plugins/datatables/css/datatables.min.css">
-->

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/vendor.css">
<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
<link rel="stylesheet" type="text/css" href="/static/css/utility.css">
<link rel="stylesheet" type="text/css" href="/static/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="/static/css/custom.css">

<!-- Autocomplete Plugins -->
<script type="text/javascript" src="/static/js/custom/autocomplete.js"></script>
<style type="text/css">
	html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwLISsQP4S3QXeShh6epMqrTW3bPPHfVk"></script>
{{page.script_head|safe}}
</head>
<body>
    <div id="map-canvas"></div>
</body>
</html>